@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 128, 185);
}

.box {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 80%;
}

p {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 5px;
}

#login {
    font-size: 36px;
    font-family: "Protest Strike", sans-serif;
}

#left_side {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#right_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 70%;
    width: 100%;
}

input[type="submit"] {
    background: rgb(41, 128, 185);
    border-radius: 999px;
    box-shadow: rgb(41, 128, 185) 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
    word-break: break-word;
    border: 0;
}

input[type="submit"]:hover {
    background-color: rgb(11, 93, 148);
}

input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(41, 128, 185);
    width: 80%;
}

input[type=password] {
    border: none;
    border-bottom: 2px solid rgb(41, 128, 185);
    width: 80%;
}

form {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.bar {
    margin-left: 0;
    height: 40%;
    width: 20px;
    background: white;
    border-radius: 16px;
}

#forgotpass {
    color: rgb(165, 165, 165);
}

@media only screen and (max-width: 768px) {
    body {
        background-color: rgb(41, 128, 185);
    }
    .box {
        width: 90%;
        height: 90%;
    }
    .bar {
        height: 20px;
        width: 70%;
    }
    .container {
        flex-direction: column;
    }
    #left_side,
    #right_side {
        width: 100%;
    }
    input[type="submit"] {
        width: 80%;
    }
    input[type=text],
    input[type=password] {
        width: 90%;
    }
    p {
        font-size: 24px;
    }
}